In [4]:
import mysql.connector
import requests
from urllib.request import urlretrieve
from tabulate import tabulate
# Connect to the MySQL database
db=mysql.connector.connect(host="localhost", user="root", password="xyzzzz", database="name")
# Create a cursor object
cursor=db.cursor()

def tsCatalog():
    # Define the Catalog table structure
    table_structureCatalog= """CREATE TABLE IF NOT EXISTS Catalog (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Designation VARCHAR(255) NOT NULL,
    Neo_Reference_Id VARCHAR(255) NOT NULL
    );"""
    return table_structureCatalog

def ts1():
    # Define the ORBITAL_PARAMETERS_1 structure
    table_structure1= """CREATE TABLE IF NOT EXISTS ORBITAL_PARAMETERS_1 (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Designation VARCHAR(255) NOT NULL,
    orbit_id VARCHAR(255) NOT NULL,
    orbit_determination_date VARCHAR(255) NOT NULL
    );"""
    return table_structure1
    
def ts2():
    # Define the ORBITAL_PARAMETERS_2 structure
    table_structure2= """CREATE TABLE IF NOT EXISTS ORBITAL_PARAMETERS_2 (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    Designation VARCHAR(255),
    data_arc_in_days VARCHAR(255),
    minimum_orbit_intersection VARCHAR(255)
    );"""
    return table_structure2
    
def ts3():
    # Define the ORBITAL_PARAMETERS_3 structure
    table_structure3= """CREATE TABLE IF NOT EXISTS ORBITAL_PARAMETERS_3 (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    equinox VARCHAR(255),
    eccentricity VARCHAR(255),
    semi_major_axis VARCHAR(255)
    );"""
    return table_structure3


def ts4():
    # Define the ORBITAL_PARAMETERS_4 structure
    table_structure4= """CREATE TABLE IF NOT EXISTS ORBITAL_PARAMETERS_4 (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    inclination VARCHAR(255),
    ascending_node_longitude VARCHAR(255),
    orbital_period VARCHAR(255)
    );"""
    return table_structure4

def ts5():
    # Define the ORBITAL_PARAMETERS_5 structure
    table_structure5= """CREATE TABLE IF NOT EXISTS ORBITAL_PARAMETERS_5 (
    ID INT AUTO_INCREMENT PRIMARY KEY,
    jupiter_tisserand_invariant VARCHAR(255),
    epoch_osculation VARCHAR(255),
    mean_motion VARCHAR(255),
    mean_anomaly VARCHAR(255) 
    );"""
    return table_structure5
    

def connectMySQL():
    # Create the table Catalog
    cursor.execute(struccat)
    # Create the table1
    cursor.execute(struc1)
    # Create the table2
    cursor.execute(struc2)
    # Create the table3
    cursor.execute(struc3)
    # Create the table4
    cursor.execute(struc4)
    # Create the table5
    cursor.execute(struc5)

# ANSI escape codes for colors
RESET = "\033[0m"  # Reset all text attributes
BOLD = "\033[1m"   # Bold
UNDERLINE = "\033[4m"  # Underline

# Text color codes
BLACK = "\033[30m"
RED = "\033[31m"
GREEN = "\033[32m"
YELLOW = "\033[33m"
BLUE = "\033[34m"
MAGENTA = "\033[35m"
CYAN = "\033[36m"
WHITE = "\033[37m"

# Background color codes
BG_BLACK = "\033[40m"
BG_RED = "\033[41m"
BG_GREEN = "\033[42m"
BG_YELLOW = "\033[43m"
BG_BLUE = "\033[44m"
BG_MAGENTA = "\033[45m"
BG_CYAN = "\033[46m"
BG_WHITE = "\033[47m"    

def mm():
    print(BG_BLUE+ "                           CELESTIAL VIGILANCE VAULT                           "+ RESET)
    print("___________")
    print(BG_BLACK+ " MAIN MENU " + RESET)
    print("___________")
    print("           ")
    print(BG_YELLOW+"To EXTRACT data, press 1"+RESET)
    print(BG_YELLOW+"To UPDATE data, press 2"+RESET)
    print(BG_YELLOW+"To DISPLAY data, press 3"+RESET)
    print(BG_YELLOW+"To SEARCH for data, press 4"+RESET)
    print(BG_YELLOW+"To DISPLAY hazardous asteroids, press 5"+RESET)
    print(BG_YELLOW+"To DISPLAY insights, press 6"+RESET)
    x=input()
    def tables():
        %clear -f
        print("THE TABLES CONTAIN THE FOLLOWING PARAMETERS:-")
        print("CATALOG: ID, Desgination, NEO Reference ID")
        print("ORBITAL PARAMETERS 1: ID, Designation, Orbit ID, Orbit Determination Date ")
        print("ORBITAL PARAMETERS 2: ID, Designation, Data Arc, Minimum Orbit Intersection ")
        print("ORBITAL PARAMETERS 3: ID, Equinox, Eccentricity, Semi-Major Axis ")
        print("ORBITAL PARAMETERS 4: ID, Inclination, Ascending Node Longitude, Orbital Period")
        print("ORBITAL PARAMETERS 5: ID, Jupiter Tisserand Invariant, Epoch Osculation, Mean Motion, Mean Anomaly") 
        print("To extract data into Catalog Table, press c.")
        print("To extract data into ORBITAL PARAMETERS 1, press 1.")
        print("To extract data into ORBITAL PARAMETERS 2, press 2.")
        print("To extract data into ORBITAL PARAMETERS 3, press 3.")
        print("To extract data into ORBITAL PARAMETERS 4, press 4.")
        print("To extract data into ORBITAL PARAMETERS 5, press 5.")
        xt=input("Enter the required number:")
        def dtc():
            print("To extract data into the Catalog Table, provide a list of Asteroid IDs or individual Asteroid IDs.")
            print("To enter a list, press 1.")
            print("To enter indivdual IDs, press 2.")
            print("To use both of these methods, press 3.")
            print("To exit to the main menu, press 4.")
            xc=input("Enter the required number:")
            insert_queryc= """INSERT INTO Catalog (Designation, Neo_Reference_Id) VALUES (%s,%s);"""
            def dtcl():
                    l=eval(input("Enter the list of Asteroid IDs."))
                    for i in l:
                        asteroid_id=i
                        asteroid_id=str(asteroid_id)
                        URL="https://api.nasa.gov/neo/rest/v1/neo/"+asteroid_id
                        params={'api_key':"HwSKPqE8gRUFbP7NbhnzOEqxzMsr6eIKCP0atQ2C"}
                        response=requests.get(URL,params=params).json()
                        a=response.get("designation", "")
                        b=response.get("neo_reference_id", "")
                        data1=(a,b)
                        try:
                            cursor.execute(insert_queryc, data1)
                            db.commit()
                            print("Record inserted successfully.")
                        except Exception as e:
                            print(f"Error inserting data: {e}")
                    mm()
            def dtci():
                insert_queryc="""INSERT INTO Catalog (Designation, Neo_Reference_Id) VALUES (%s, %s);"""
                n=int(input("How many Asteroid IDs do you wish to enter?"))
                for j in range(n):
                    asteroid_id=input("Enter the Asteroid ID: ")
                    URL = f"https://api.nasa.gov/neo/rest/v1/neo/{asteroid_id}"
                    params={'api_key': "HwSKPqE8gRUFbP7NbhnzOEqxzMsr6eIKCP0atQ2C"}
                    response=requests.get(URL, params=params).json()
                    a=response.get("designation", "")
                    b=response.get("neo_reference_id", "")
                    data1=(a,b)
                    try:
                        cursor.execute(insert_queryc, data1)
                        db.commit()
                        print("Record inserted successfully.")
                    except Exception as e:
                        print(f"Error inserting data: {e}")
                mm()
            if xc=="1":
                dtcl()
            if xc=="2":
                dtci()
            if xc=="3":
                dtcl()
                dtci()
            if xc=="4":
                mm()

        #Inserting data in table1
        def dt1():
            insert_query1= """INSERT INTO ORBITAL_PARAMETERS_1 (Designation,Orbit_id,orbit_determination_date) VALUES (%s, %s,%s);"""
            print("To extract data into the Catalog Table, provide a list of Asteroid IDs or individual Asteroid IDs.")
            print("To enter a list, press 1.")
            print("To enter indivdual IDs, press 2.")
            print("To use both of these methods, press 3.")
            print("To exit to the main menu, press 4.")
            x1=input("Enter the number:-")
            def dt1l():
                    l=eval(input("Enter the list of Asteroid IDs."))
                    for i in l:
                        asteroid_id=i
                        asteroid_id=str(asteroid_id)
                        URL="https://api.nasa.gov/neo/rest/v1/neo/"+asteroid_id
                        params = {'api_key':"8bcqJbVYRw0XUkWwtbWeQJsV4QhczIxPRXGkfgNU"}
                        response=requests.get(URL,params=params).json()
                        orbital_data = response.get("orbital_data", {})
                        c=response.get("designation", "")
                        d=orbital_data.get("orbit_id", "")
                        e=orbital_data.get("orbit_determination_date", "")
                        data1=(c,d,e)
                        try:
                            cursor.execute(insert_query1, data1)
                            db.commit()
                            print("Record inserted successfully.")
                        except Exception as e:
                            print(f"Error inserting data: {e}")
                    mm()
            def dt1i():
                    n=int(input("How many Asteroid IDs do you wish to enter?"))
                    for j in range(n):
                        m=input("Enter the Asteroid ID.")
                        asteroid_id=m
                        asteroid_id=str(asteroid_id)
                        URL="https://api.nasa.gov/neo/rest/v1/neo/"+asteroid_id
                        params = {'api_key':"8bcqJbVYRw0XUkWwtbWeQJsV4QhczIxPRXGkfgNU"}
                        response=requests.get(URL,params=params).json()
                        orbital_data = response.get("orbital_data", {})
                        c=response.get("designation", "")
                        d=orbital_data.get("orbit_id", "")
                        e=orbital_data.get("orbit_determination_date", "")
                        data1=(c,d,e)
                        try:
                            cursor.execute(insert_query1, data1)
                            db.commit()
                            print("Record inserted successfully.")
                        except Exception as e:
                            print(f"Error inserting data: {e}")
                    mm()

            if x1=="1":
                dt1l()
            if x1=="2":
                dt1i()
            if x1=="3":
                dt1l()
                dt1i()
            if x1=="4":
                mm()

        #Inserting data in table2
        def dt2():
            insert_query2= """INSERT INTO ORBITAL_PARAMETERS_2 (Designation,data_arc_in_days,minimum_orbit_intersection) VALUES (%s, %s,%s);"""
            print("To extract data into the Catalog Table, provide a list of Asteroid IDs or individual Asteroid IDs.")
            print("To enter a list, press 1.")
            print("To enter indivdual IDs, press 2.")
            print("To use both of these methods, press 3.")
            print("To exit to the main menu, press 4.")
            x2=input("Enter the number:-")
            def dt2l():
                    l=eval(input("Enter the list of Asteroid IDs."))
                    for i in l:
                        asteroid_id=i
                        asteroid_id=str(asteroid_id)
                        URL="https://api.nasa.gov/neo/rest/v1/neo/"+asteroid_id
                        params = {'api_key':"8bcqJbVYRw0XUkWwtbWeQJsV4QhczIxPRXGkfgNU"}
                        response=requests.get(URL,params=params).json()
                        orbital_data = response.get("orbital_data", {})
                        c=response.get("designation", "")
                        d=orbital_data.get("data_arc_in_days", "")
                        e=orbital_data.get("minimum_orbit_intersection", "")
                        data1=(c,d,e)
                        try:
                            cursor.execute(insert_query2, data1)
                            db.commit()
                            print("Record inserted successfully.")
                        except Exception as e:
                            print(f"Error inserting data: {e}")
                    mm()
            def dt2i():
                    n=int(input("How many Asteroid IDs do you wish to enter?"))
                    for j in range(n):
                        m=input("Enter the Asteroid ID.")
                        asteroid_id=m
                        asteroid_id=str(asteroid_id)
                        URL="https://api.nasa.gov/neo/rest/v1/neo/"+asteroid_id
                        params = {'api_key':"8bcqJbVYRw0XUkWwtbWeQJsV4QhczIxPRXGkfgNU"}
                        response=requests.get(URL,params=params).json()
                        orbital_data = response.get("orbital_data", {})
                        c=response.get("designation", "")
                        d=orbital_data.get("data_arc_in_days", "")
                        e=orbital_data.get("minimum_orbit_intersection", "")
                        data1=(c,d,e)
                        try:
                            cursor.execute(insert_query2, data1)
                            db.commit()
                            print("Record inserted successfully.")
                        except Exception as e:
                            print(f"Error inserting data: {e}")
                    mm()

            if x2=="1":
                dt2l()
            if x2=="2":
                dt2i()
            if x2=="3":
                dt2l()
                dt2i()
            if x2=="4":
                mm()



        #Inserting data in table3
        def dt3():
            insert_query3= """INSERT INTO ORBITAL_PARAMETERS_3 (equinox,eccentricity,semi_major_axis) VALUES (%s, %s,%s);"""
            print("To extract data into the Catalog Table, provide a list of Asteroid IDs or individual Asteroid IDs.")
            print("To enter a list, press 1.")
            print("To enter indivdual IDs, press 2.")
            print("To use both of these methods, press 3.")
            print("To exit to the main menu, press 4.")
            x3=input("Enter the number:-")
            def dt3l():
                    l=eval(input("Enter the list of Asteroid IDs."))
                    for i in l:
                        asteroid_id=i
                        asteroid_id=str(asteroid_id)
                        URL="https://api.nasa.gov/neo/rest/v1/neo/"+asteroid_id
                        params = {'api_key':"8bcqJbVYRw0XUkWwtbWeQJsV4QhczIxPRXGkfgNU"}
                        response=requests.get(URL,params=params).json()
                        orbital_data = response.get("orbital_data", {})
                        c=orbital_data.get("equinox", "")
                        d=orbital_data.get("eccentricity", "")
                        e=orbital_data.get("semi_major_axis", "")
                        data1=(c,d,e)
                        try:
                            cursor.execute(insert_query3, data1)
                            db.commit()
                            print("Record inserted successfully.")
                        except Exception as e:
                            print(f"Error inserting data: {e}")
                    mm()
            def dt3i():
                    n=int(input("How many Asteroid IDs do you wish to enter?"))
                    for j in range(n):
                        m=input("Enter the Asteroid ID.")
                        asteroid_id=m
                        asteroid_id=str(asteroid_id)
                        URL="https://api.nasa.gov/neo/rest/v1/neo/"+asteroid_id
                        params = {'api_key':"8bcqJbVYRw0XUkWwtbWeQJsV4QhczIxPRXGkfgNU"}
                        response=requests.get(URL,params=params).json()
                        orbital_data = response.get("orbital_data", {})
                        c=orbital.get("equinox", "")
                        d=orbital_data.get("eccentricity", "")
                        e=orbital_data.get("semi_major_axis", "")
                        data1=(c,d,e)
                        try:
                            cursor.execute(insert_query3, data1)
                            db.commit()
                            print("Record inserted successfully.")
                        except Exception as e:
                            print(f"Error inserting data: {e}")
                    mm()

            if x3=="1":
                dt3l()
            if x3=="2":
                dt3i()
            if x3=="3":
                dt3l()
                dt3i()
            if x3=="4":
                mm()

        #Inserting data in table4
        def dt4():
            insert_query4= """INSERT INTO ORBITAL_PARAMETERS_4 (inclination,ascending_node_longitude,orbital_period) VALUES (%s, %s,%s);"""
            print("To extract data into the Catalog Table, provide a list of Asteroid IDs or individual Asteroid IDs.")
            print("To enter a list, press 1.")
            print("To enter indivdual IDs, press 2.")
            print("To use both of these methods, press 3.")
            print("To exit to the main menu, press 4.")
            x4=input("Enter the number:-")
            def dt4l():
                    l=eval(input("Enter the list of Asteroid IDs."))
                    for i in l:
                        asteroid_id=i
                        asteroid_id=str(asteroid_id)
                        URL="https://api.nasa.gov/neo/rest/v1/neo/"+asteroid_id
                        params = {'api_key':"8bcqJbVYRw0XUkWwtbWeQJsV4QhczIxPRXGkfgNU"}
                        response=requests.get(URL,params=params).json()
                        orbital_data = response.get("orbital_data", {})
                        c=orbital_data.get("inclination", "")
                        d=orbital_data.get("ascending_node_longitude", "")
                        e=orbital_data.get("orbital_period", "")
                        data1=(c,d,e)
                        try:
                            cursor.execute(insert_query4, data1)
                            db.commit()
                            print("Record inserted successfully.")
                        except Exception as e:
                            print(f"Error inserting data: {e}")
                    mm()
            def dt4i():
                    n=int(input("How many Asteroid IDs do you wish to enter?"))
                    for j in range(n):
                        m=input("Enter the Asteroid ID.")
                        asteroid_id=m
                        asteroid_id=str(asteroid_id)
                        URL="https://api.nasa.gov/neo/rest/v1/neo/"+asteroid_id
                        params = {'api_key':"8bcqJbVYRw0XUkWwtbWeQJsV4QhczIxPRXGkfgNU"}
                        response=requests.get(URL,params=params).json()
                        orbital_data = response.get("orbital_data", {})
                        c=orbital_data.get("inclination", "")
                        d=orbital_data.get("ascending_node_longitude", "")
                        e=orbital_data.get("orbital_period", "")
                        data1=(c,d,e)
                        try:
                            cursor.execute(insert_query4, data1)
                            db.commit()
                            print("Record inserted successfully.")
                        except Exception as e:
                            print(f"Error inserting data: {e}")
                    mm()

            if x4=="1":
                dt4l()
            if x4=="2":
                dt4i()
            if x4=="3":
                dt4l()
                dt4i()
            if x4=="4":
                mm()

        #Inserting data in table5
        def dt5():
            insert_query5= """INSERT INTO ORBITAL_PARAMETERS_5 (jupiter_tisserand_invariant,epoch_osculation,mean_motion,mean_anomaly) VALUES (%s, %s,%s,%s);"""
            print("To extract data into the Catalog Table, provide a list of Asteroid IDs or individual Asteroid IDs.")
            print("To enter a list, press 1.")
            print("To enter indivdual IDs, press 2.")
            print("To use both of these methods, press 3.")
            print("To exit to the main menu, press 4.")
            x5=input("To enter a list, press 1. To enter indivdual IDs, press 2. To use both of these methods, press 3. To skip to the next table, press 4.")
            def dt5l():
                    l=eval(input("Enter the list of Asteroid IDs."))
                    for i in l:
                        asteroid_id=i
                        asteroid_id=str(asteroid_id)
                        URL="https://api.nasa.gov/neo/rest/v1/neo/"+asteroid_id
                        params = {'api_key':"8bcqJbVYRw0XUkWwtbWeQJsV4QhczIxPRXGkfgNU"}
                        response=requests.get(URL,params=params).json()
                        orbital_data = response.get("orbital_data", {})
                        c=orbital_data.get("jupiter_tisserand_invariant", "")
                        d=orbital_data.get("epoch_osculation", "")
                        e=orbital_data.get("mean_motion", "")
                        f=orbital_data.get("mean_anomaly", "")
                        data1=(c,d,e,f)
                        try:
                            cursor.execute(insert_query5, data1)
                            db.commit()
                            print("Record inserted successfully.")
                        except Exception as e:
                            print(f"Error inserting data: {e}")
                    mm()
            def dt5i():
                    n=int(input("How many Asteroid IDs do you wish to enter?"))
                    for j in range(n):
                        m=input("Enter the Asteroid ID.")
                        asteroid_id=m
                        asteroid_id=str(asteroid_id)
                        URL="https://api.nasa.gov/neo/rest/v1/neo/"+asteroid_id
                        params = {'api_key':"8bcqJbVYRw0XUkWwtbWeQJsV4QhczIxPRXGkfgNU"}
                        response=requests.get(URL,params=params).json()
                        orbital_data = response.get("orbital_data", {})
                        c=orbital_data.get("jupiter_tisserand_invariant", "")
                        d=orbital_data.get("epoch_osculation", "")
                        e=orbital_data.get("mean_motion", "")
                        f=orbital_data.get("mean_anomaly", "")
                        data1=(c,d,e,f)
                        try:
                            cursor.execute(insert_query5, data1)
                            db.commit()
                            print("Record inserted successfully.")
                        except Exception as e:
                            print(f"Error inserting data: {e}")
                    mm()

            if x5=="1":
                dt5l()
            if x5=="2":
                dt5i()
            if x5=="3":
                dt5l()
                dt5i()
            if x5=="4":
                mm()
        if xt=="c":
            dtc()
        if xt=="1":
            dt1()
        if xt=="2":
            dt2()
        if xt=="3":
            dt3()
        if xt=="4":
            dt4()
        if xt=="5":
            dt5()
    
    #Update
    def update():
        print("Press the number correspoding to the required parameter.")
        print("To update DATA ARC, PRESS 1.")
        print("To update MOID, PRESS 2.")
        print("To update EQUINOX, PRESS 3.")
        print("To update ECCENTRICITY, PRESS 4.")
        print("To update SEMI-MAJOR AXIS, PRESS 5.")
        print("To update ORBITAL INCLINATION, PRESS 6.")
        print("To update ASCENDING NODE LONGITUDE: , PRESS 7.")
        print("To update ORBITAL PERIOD, PRESS 8.")
        print("To update JUPITER TISSERAND INVARIANT, PRESS 9.")
        print("To update EPOCH OSCULATION, PRESS 10.")
        print("To update MEAN ANOMALY, PRESS 11.")
        print("To update MEAN MOTION, PRESS 12.")
        print("To EXIT to main menu, press 13.")
        xu=input()
        if xu=="1":
            update_query="UPDATE ORBITAL_PARAMETERS_2 SET data_arc_in_days= %s WHERE id= %s;"
            astid=input("Which asteroid do you want to update DATA ARC for?")
            new_value=input("Enter the new DATA ARC value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="2":
            update_query="UPDATE ORBITAL_PARAMETERS_2 SET minimum_orbit_intersection= %s WHERE id= %s;"
            astid=input("Which asteroid do you want to update MOID for?")
            new_value=input("Enter the new MOID value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="3":
            update_query="UPDATE ORBITAL_PARAMETERS_3 SET EQUINOX= %s WHERE id= %s;"
            astid=input("Which asteroid do you want to update EQUINOX for?")
            new_value=input("Enter the new EQUINOX value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="4":
            update_query="UPDATE ORBITAL_PARAMETERS_3 SET ECCENTRICITY= %s WHERE id= %s;"
            astid=input("Which asteroid do you want to update ECCENTRICITY for?")
            new_value=input("Enter the new ECCENTRICITY value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="5":
            update_query="UPDATE ORBITAL_PARAMETERS_3 SET semi_major_axis= %s WHERE id= %s;"
            astid=input("Which asteroid do you want to update semi_major_axis for?")
            new_value=input("Enter the new semi_major_axis value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="6":
            update_query="UPDATE ORBITAL_PARAMETERS_4 SET inclination= %s WHERE id= %s;"
            astid=input("Which asteroid do you want to update inclination for?")
            new_value=input("Enter the new inclination value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="7":
            update_query="UPDATE ORBITAL_PARAMETERS_4 SET ascending_node_longitude= %s WHERE id= %s;"
            astid=input("Which iasteroid do you want to update ascending_node_longitude for?")
            new_value=input("Enter the new ascending_node_longitude value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="8":
            update_query="UPDATE ORBITAL_PARAMETERS_4 SET orbital_period= %s WHERE id= %s;"
            astid=input("Which asteroid do you want to update orbital_period for?")
            new_value=input("Enter the new orbital_period value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="9":
            update_query="UPDATE ORBITAL_PARAMETERS_5 SET jupiter_tisserand_invariant= %s WHERE id= %s;"
            astid=input("Which asteroid do you want to update jupiter_tisserand_invariant for?")
            new_value=input("Enter the new jupiter_tisserand_invariant value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="10":
            update_query="UPDATE ORBITAL_PARAMETERS_5 SET epoch_osculation= %s WHERE id= %s;"
            astid=input("Which asteroid do you want to update epoch_osculation for?")
            new_value=input("Enter the new epoch_osculation value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="11":
            update_query="UPDATE ORBITAL_PARAMETERS_5 SET mean_motion= %s WHERE id= %s";
            astid=input("Which asteroid do you want to update imean_motion for?")
            new_value=input("Enter the new mean_motion value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="12":
            update_query="UPDATE ORBITAL_PARAMETERS_5 SET mean_anomaly= %s WHERE id= %s;"
            astid=input("Which asteroid do you want to update mean_anomaly for?")
            new_value=input("Enter the new mean_anomaly value.")
            try:
                cursor.execute(update_query, (new_value, astid))
                db.commit()
                print("Record updated succesfully.")
                mm()
            except:
                print("Record NOT updated. Check for presence of non-existence IDs or invalid values.")
                mm()
        if xu=="13":
            mm()
    def disp():
        print("Press the number corresponding to the required table.")
        print("To display Catalog, press c.")
        print("To display ORBITAL_PARAMETERS_1, press 1.")
        print("To display ORBITAL_PARAMETERS_2, press 2.")
        print("To display ORBITAL_PARAMETERS_3, press 3.")
        print("To display ORBITAL_PARAMETERS_4, press 4.")
        print("To display ORBITAL_PARAMETERS_5, press 5.")
        print("To EXIT to main menu, press 6.")
        xdis=input()
        if xdis=="c":
            query="select * from catalog;"
            cursor.execute(query)
            rows=cursor.fetchall()
            column_names=cursor.column_names
            data =[list(row) for row in rows]
            print(tabulate(data, headers=column_names, tablefmt="pretty"))
            mm()
        if xdis=="1":
            query="select * from ORBITAL_PARAMETERS_1;"
            cursor.execute(query)
            rows=cursor.fetchall()
            column_names = cursor.column_names
            data=[list(row) for row in rows]
            print(tabulate(data, headers=column_names, tablefmt="pretty"))
            mm()
        if xdis=="2":
            query="select * from ORBITAL_PARAMETERS_2;"
            cursor.execute(query)
            rows=cursor.fetchall()
            column_names = cursor.column_names
            data=[list(row) for row in rows]
            print(tabulate(data, headers=column_names, tablefmt="pretty"))
            mm()
        if xdis=="3":
            query="select * from ORBITAL_PARAMETERS_3;"
            cursor.execute(query)
            rows=cursor.fetchall()
            column_names = cursor.column_names
            data=[list(row) for row in rows]
            print(tabulate(data, headers=column_names, tablefmt="pretty"))
            mm()
        if xdis=="4":
            query="select * from ORBITAL_PARAMETERS_4;"
            cursor.execute(query)
            rows=cursor.fetchall()
            column_names = cursor.column_names
            data=[list(row) for row in rows]
            print(tabulate(data, headers=column_names, tablefmt="pretty"))
            mm()
        if xdis=="5":
            query="select * from ORBITAL_PARAMETERS_5;"
            cursor.execute(query)
            rows=cursor.fetchall()
            column_names=cursor.column_names
            data=[list(row) for row in rows]
            print(tabulate(data, headers=column_names, tablefmt="pretty"))
            mm()
        if xdis=="6":
                  mm()
    def search():
        print("Certain parameters can be used to search for asteroids in the database.")
        print("To search using Designation, press 1.")
        print("To search using NEO Reference ID, press 2.")
        print("To search using Orbit ID, press 3.")
        print("To search using Orbit Determination Date , press 4.")
        print("To search using Data Arc, press 5.")
        print("To search using MOID, press 6.")
        xsear=input("Enter the number corresponding to the required parameter:-")
        if xsear=="1":
            de=input("Enter the desgnation:-")
            query="SELECT * FROM CATALOG WHERE DESIGNATION= %s"
            cursor.execute(query,(de,))
            records=cursor.fetchall()
            if records:
                for row in records:
                    print(row)
            else:
                print(BG_RED+"No record found with the specified DESIGNATION."+RESET)
            mm()
        if xsear=="2":
            de=input("Enter the Neo_Reference_Id:-")
            query="SELECT * FROM CATALOG WHERE Neo_Reference_Id= %s"
            cursor.execute(query,(de,))
            records=cursor.fetchall()
            if records:
                for row in records:
                    print(row)
            else:
                print(BG_RED+"No record found with the specified Neo_Reference_Id."+RESET)
            mm()
        if xsear=="3":
            de=input("Enter the Orbit ID:-")
            query="SELECT * FROM orbital_parameters_1 WHERE orbit_id= %s"
            cursor.execute(query,(de,))
            records=cursor.fetchall()
            if records:
                for row in records:
                    print(row)
            else:
                print(BG_RED+"No record found with the specified Orbit ID."+RESET)
            mm()
        if xsear=="4":
            de=input("Enter the Orbit_Determination_Date:-")
            query="SELECT * FROM orbital_parameters_1 WHERE Orbit_Determination_Date= %s"
            cursor.execute(query,(de,))
            records=cursor.fetchall()
            if records:
                for row in records:
                    print(row)
            else:
                print(BG_RED+"No record found with the specified Orbit_Determination_Date."+RESET)
            mm()
        if xsear=="5":
            de=input("Enter the DATA ARC:-")
            query="SELECT * FROM orbital_parameters_2 WHERE  data_arc_in_days= %s"
            cursor.execute(query,(de,))
            records=cursor.fetchall()
            if records:
                for row in records:
                    print(row)
            else:
                print(BG_RED+"No record found with the specified DATA ARC."+RESET)
            mm()
        if xsear=="6":
            de=input("Enter the MOID:-")
            query="SELECT * FROM orbital_parameters_2 WHERE  minimum_orbit_intersection= %s"
            cursor.execute(query,(de,))
            records=cursor.fetchall()
            if records:
                for row in records:
                    print(row)
            else:
                print(BG_RED+"No record found with the specified MOID."+RESET)
            mm()
    def hazardous():
        print("An object is classified as potentially hazardous, among other conditions, its Earth MOID is less than 0.05 AU.")
        query="SELECT DESIGNATION FROM ORBITAL_PARAMETERS_2 WHERE minimum_orbit_intersection <=0.05;"
        cursor.execute(query)
        records=cursor.fetchall()
        if records:
            for row in records:
                print(row)
        else:
            print(BG_RED+"No record found with the specified MOID range."+RESET)
        mm()
    def insights():
        #Kuiper Belt
        print(BG_GREEN+"For asteroids originating from the Kuiper Belt, the Jupiter Tisserand parameter is close to 3. "+RESET)
        query="SELECT ID FROM ORBITAL_PARAMETERS_5 WHERE jupiter_tisserand_invariant<=3;"
        cursor.execute(query)
        records=cursor.fetchall()
        if records:
            for row in records:
                print("The following asteroids orginated in the Kuiper belt", row)
        else:
            print(BG_GREEN+"No asteoids found which originated in the Kuiper belt."+RESET)
        #Decade
        query="SELECT ID FROM ORBITAL_PARAMETERS_2 WHERE data_arc_in_days>=3650;"
        cursor.execute(query)
        records=cursor.fetchall()
        if records:
            for row in records:
                print("This asteroids have not been observed since more than a decade.", row)
        else:
            print(BG_GREEN+"No asteoids found that have not been observed since more than a decade."+RESET)
        mm()
            
        
       
        
    if x=="1":
        tables()
    if x=="2":
        update()
    if x=="3":
        disp()
    if x=="4":
        search()
    if x=="5":
        hazardous()
    if x=="6":
        insights()

struccat=tsCatalog()
struc1=ts1()
struc2=ts2()
struc3=ts3()
struc4=ts4()
struc5=ts5()
connectMySQL()
mm()

                           CELESTIAL VIGILANCE VAULT
___________
 MAIN MENU
___________

To EXTRACT data, press 1
To UPDATE data, press 2
To DISPLAY data, press 3
To SEARCH for data, press 4
To DISPLAY hazardous asteroids, press 5
To DISPLAY insights, press 6

KeyboardInterrupt: Interrupted by user

In [22]:
import mysql.connector
connection = mysql.connector.connect(host="localhost", user="root", password="Welcome@1234", database="dd")
cursor=connection.cursor()
x="show tables;"
cursor.execute(x)
cursor.fetchall()

[('books',), ('planets',)]